[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

#[[source]]
#url = "https://mirrors.aliyun.com/pypi/simple"
#verify_ssl = true
#name = "aliyun"

#[[source]]
#url = "https://pypi.tuna.tsinghua.edu.cn/simple"
#verify_ssl = true
#name = "tsinghua"

#[[source]]
#url = "https://pypi.mirrors.ustc.edu.cn/simple"
#verify_ssl = true
#name = "ustc"

#[[source]]
#url = "https://pypi.doubanio.com/simple"
#verify_ssl = true
#name = "douban"


[packages]
# base
pipreqs = "*"
python-dotenv = "*"
requests = "*"
cryptography = "*"
# machine learning
numpy = "*"
pandas = "*"
scipy = "*"
sympy = "*"
scikit-learn = "*"
keras = "*"
jupyterlab = "*"
# plot
matplotlib = "*"
seaborn = "*"
# pytorch
torch = "*"
torchvision = "*"
torchaudio = "*"
torchsummary = "*"
# TensorFlow
tensorflow = "*"
tensorwatch = "*"
# NLP
nltk = "*"
pynlpir = "*"
gensim = "*"
pypinyin = "*"
# Image processing
opencv-python = "*"
pillow = "*"
# file processing
#python-docx = "*"
openpyxl = "*"
#reportlab = "*"
# other
#flask = "*"
#celery = "*"


[dev-packages]
autopep8 = "*"
flake8 = "*"
pylint = "*"
faker = "*"
watchdog = "*"
pysnooper = "*"
pytest = "*"
flask-testing = "*"

[requires]
python_version = "3.9"
