[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# machine learning
numpy = "*"
pandas = "*"
scipy = "*"
sympy = "*"
scikit-learn = "*"
jupyterlab = "*"
# plot
matplotlib = "*"
seaborn = "*"
# pytorch
torch = "*"
torchvision = "*"
torchaudio = "*"
# TensorFlow
tensorflow = "*"
# NLP
pynlpir = "*"
# Image processing
opencv-python = "*"
# file processing
python-docx = "*"
openpyxl = "*"
reportlab = "*"
# other
flask = "*"
celery = "*"


[dev-packages]

[requires]
python_version = "3.9"
